<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>模板语法</title>
    <script src="jq/vue.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="one">
      <p>{{ title }}</p>
      <p>{{ content }}</p>
      <p><img v-if="seen" v-bind:src="src" width="200" /></p>
      <input type="text" v-model="title" placeholder="输入标题">
      <input type="text" v-model="content" placeholder="输入内容">
      <input type="text" v-model="src" placeholder="输入图片链接">
      <button type="button" v-on:click="getText">获取内容</button>
    </div>
  </body>
  <script type="text/javascript">
    var vm = new Vue({
      el: '#one',
      data: {
        title: '',
        content: '',
        seen: false,
        src: ''
      },
      methods: {
        getText: function() {
          vm.seen = true;
          console.log(vm.title);
          console.log(vm.content);
        }
      }
    });
  </script>
</html>
