<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>switch</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
    <div>
        <mt-switch v-model="value"></mt-switch>
    </div>

    <div>
        <h4>带显示内容</h4>
        <mt-switch v-model="value">开关</mt-switch>
    </div>
</div>

</body>
<script src="vue.js"></script>
<script src="index.js"></script>
<script>
    var vm = new Vue ({
        el: '#app',
        data() {
            return {
                value: false
            }
        }
    });
</script>
</html>